<!DOCTYPE html>

http://bootstrapbay.com/preview/nature-clean-minimalistic-landing-page-BC57200
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>About</title>
    <link rel="shortcut icon" href="assets/img/favicon.jpg">
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <!--FONTAWESOME MAIN STYLE -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet"/>
    <!--CUSTOM STYLE -->
    <link href="assets/css/style.css" rel="stylesheet"/>

    <link href="assets/css/jquery.fancybox.css" rel="stylesheet"/>

    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!--END HEAD SECTION -->
<body>
<!-- NAV SECTION -->
<div class="navbar navbar-inverse navbar-fixed-top header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#header-section"><i class="fa fa-leaf"></i> Nature</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about-section">ABOUT</a></li>
                <li><a href="#services-section">SERVICES</a></li>
                <li><a href="#products-section">PRODUCTS</a></li>
                <li><a href="#price-section">PRICING</a></li>
                <li><a href="#contact-section">CONTACT</a></li>
            </ul>
        </div>
    </div>
</div>
<!--END NAV SECTION -->
<!-- HEADER SECTION -->
<div id="header-section">
    <div class="container">
        <div class="row centered">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <img style="max-width:100%" src="assets/img/tree.png" class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s"/>
                    </div>
                </div>
                <h2 class="wow fadeInLeft" data-wow-delay="2s" data-wow-duration="1s">Awesome</h2>

                <h1 class="wow fadeInUp" data-wow-delay="3s" data-wow-duration="1s"><strong>TEMPLATE DESIGN</strong></h1>
            </div>
        </div>
    </div>
</div>
<!--END HEADER SECTION -->
<!--ABOUT SECTION -->
<div id="about-section">
    <div class="container">
        <div class="row main-top-margin text-center">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1 class="wow bounceInDown">About Our Team</h1>
                <h4>
                   Hour no find it park. Eat welcomed any husbands moderate. Led was misery played waited almost cousin living. Of intention contained is by middleton am.
                </h4>
            </div>
        </div>
        <hr>
        <!-- ./ Main Heading-->
        <div class="row main-low-margin text-center">
            <div class="col-md-3 col-sm-3">
                <a class="img-thumbnail wow fadeInLeft fancybox" rel="gallery1" href="assets/img/team/78_b.jpg" title="">
                  <img src="assets/img/team/78.jpg" alt="" />
                </a>
                <h4>Jhon Deo</h4>

                <p class="text-justify">
                    Affronting discretion as do is announcing. Now months esteem oppose nearer enable too six. She numerous unlocked you perceive speedily.
                </p>
            </div>
            <div class="col-md-3 col-sm-3">
                <a class="img-thumbnail wow fadeInUp fancybox" rel="gallery1" href="assets/img/team/79_b.jpg" title="">
                  <img src="assets/img/team/79.jpg" alt="" />
                </a>
                <h4>Romson Lediro</h4>

                <p class="text-justify">
                    Timed voice share led his widen noisy young. On weddings believed laughing although material do exercise of.
                </p>
            </div>
            <div class="col-md-3 col-sm-3">
                <a class="img-thumbnail wow fadeInLeft fancybox" rel="gallery1" href="assets/img/team/56_b.jpg" title="">
                  <img src="assets/img/team/56.jpg" alt="" />
                </a>
                <h4>Rooklin Bruce</h4>

                <p class="text-justify">
                    Sufficient impossible him may ten insensible put continuing. Oppose exeter income simple few joy cousin but twenty.
                </p>
            </div>
            <div class="col-md-3 col-sm-3">
                <a class="img-thumbnail wow fadeInDown fancybox" rel="gallery1" href="assets/img/team/44_b.jpg" title="">
                  <img src="assets/img/team/44.jpg" alt="" />
                </a>
                <h4>Donseny Riopsh</h4>

                <p class="text-justify">
                    Affixed offence spirits or ye of offices between. Real on shot it were four an as. Absolute bachelor rendered six nay you juvenile
                </p>
            </div>
        </div>
        <!-- ./ Row Content-->
    </div>
</div>
<!-- END ABOUT SECTION -->
<!-- SERVICES SECTION -->
<div id="services-section">
    <div class="container">
        <div class="row main-top-margin text-center">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1 class="wow bounceInDown">Our Services</h1>
                <h4>
                    Difficulty on insensible reasonable in. From as went he they.
                </h4>
            </div>
        </div>
        <hr>
        <!-- ./ Main Heading-->
        <div class="row text-center">
            <div class="col-md-4 col-sm-4">
                <img src="assets/img/phone.png" data-wow-duration="2s" data-wow-delay="0.3s" class="wow fadeIn"/>

                <h3>RESPONSIVE DESIGN</h3>

                <p>
                    Reference themselves me as thoroughly partiality considered on in estimating.
                    Middletons acceptance discovered projecting so is so or. In or attachment.
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="assets/img/clock.png" data-wow-duration="2s" data-wow-delay="0.3s" class="wow fadeIn"/>

                <h3>24x7 SUPPORT</h3>

                <p>
                    Sentiments projection particular companions interested do at my delightful.
                    Listening newspaper in advantage frankness to concluded unwilling.
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="assets/img/monitor.png" data-wow-duration="2s" data-wow-delay="0.3s" class="wow fadeIn"/>

                <h3>AWESOME DISPLAY </h3>

                <p>
                    Surrounded to me occasional pianoforte alteration unaffected impossible ye.
                    For saw half than cold. Pretty merits waited six talked pulled you
                </p>
            </div>
        </div>
        <!-- ./ Row Content-->
        <div class="row text-center">
            <div class="col-md-4 col-sm-4">
                <img src="assets/img/lock.png" data-wow-duration="2s" data-wow-delay="0.3s" class="wow fadeIn"/>

                <h3>SECURE SERVICES</h3>

                <p>
                    Fail most room even gone her end like.
                    Comparison dissimilar unpleasant six compliment two unpleasing any add.
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="assets/img/tools.png" data-wow-duration="2s" data-wow-delay="0.3s" class="wow fadeIn"/>

                <h3>EASY TO CUSTOMIZE</h3>

                <p>
                    Diverted as strictly exertion addition no disposal by stanhill.
                    This call wife do so sigh no gate felt. You and abode spite order get.
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="assets/img/document.png" data-wow-duration="2s" data-wow-delay="0.3s" class="wow fadeIn"/>

                <h3>WELL DOCUMENTED</h3>

                <p>
                    One sportsman tolerably him extensive put she immediate. He abroad of cannot looked in.
                    Continuing interested ten stimulated..
                </p>
            </div>
        </div>
        <!-- ./ Row Content-->
    </div>
</div>
<!--END SERVICES SECTION -->
<!--PRODUCTS SECTION -->
<div id="products-section">
    <div class="container">
        <div class="row main-top-margin text-center">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1 class="wow bounceInDown">Our Products</h1>
                <h4>
                    Up maids me an ample stood given. Certainty say suffering his him collected intention promotion.
                    Hill sold ham men made lose case.
                </h4>
            </div>
        </div>
        <!-- ./ Main Heading-->
        <hr/>
        <div class="row">
            <div class="col-md-10  col-md-offset-1 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <img src="assets/img/phone-1.png" alt="" class="wow flipInY" data-wow-duration="2s">
                </div>
                <div class="col-md-8 col-sm-8">
                    <h4><i class="fa fa-tint"></i> <strong class="color-red"> AWESOME PRODUCT # 1 </strong></h4>

                    <p>
                        Instrument cultivated alteration any favourable expression law far nor. Both new like tore but year.
                        An from mean on with when sing pain. Oh to as principles devonshire companions unsatiable an delightful.
                        The ourselves suffering the sincerity.
                        Inhabit her manners adapted age certain. Debating offended at branched striking be subjects.
                    </p>

                    <p>
                        Exquisite cordially mr happiness of neglected distrusts.
                        Boisterous impossible unaffected he me everything. Is fine loud deal an rent open give. Find upon and sent spot song son eyes.
                        Do endeavor he differed carriage is learning my graceful.
                        Feel plan know is he like on pure. See burst found sir met think hopes are marry among.
                    </p>

                    <p>
                        <i class="fa fa-check"></i> Responsive Design<br/>
                        <i class="fa fa-check"></i> 24x7 Support <br/>
                        <i class="fa fa-check"></i> Well Documented<br/>
                    </p>
                    <a href="#" class="btn btn-success"> Download Now</a>
                </div>
            </div>

        </div>
        <!-- ./ Row Content-->
        <hr/>
        <div class="row bottam-pad">

            <div class="col-md-10  col-md-offset-1 col-sm-12">
                <div class="col-md-8 col-sm-8">
                    <h4><i class="fa fa-tint"></i> <strong class="color-brown"> AWESOME PRODUCT # 2 </strong></h4>

                    <p>
                        Supported neglected met she therefore unwilling discovery remainder.
                        Way sentiments two indulgence uncommonly own.
                        Diminution to frequently sentiments he connection continuing indulgence.
                        An my exquisite conveying up defective
                    </p>

                    <p>
                        Cottage out enabled was entered greatly prevent message.
                        No procured unlocked an likewise. Dear but what she been over gay felt body.
                        Eat met has dwelling unpacked see whatever followed.
                        Court in of leave again as am. Greater sixteen to forming colonel no on be.
                    </p>

                    <p>
                        <i class="fa fa-check"></i> Responsive Design<br/>
                        <i class="fa fa-check"></i> 24x7 Support <br/>
                        <i class="fa fa-check"></i> Well Documented<br/>
                    </p>
                    <a href="#" class="btn btn-success"> Download Now</a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img class="img-margin-product wow flipInY" data-wow-duration="2s" src="assets/img/phone-2.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- ./ Row Content-->
    </div>
</div>
<!--END PRODUCTS SECTION -->
<!--PRICE SECTION -->
<div id="price-section">
    <div class="container">
        <div class="row main-top-margin text-center">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1>Price Options</h1>
                <h4>
                     Interest in yourself an do of numerous feelings cheerful confined.
                </h4>
            </div>
        </div>
        <hr>
        <!-- ./ Main Heading-->
        <div class="row">
            <div class="col-md-4 col-sm-4 wow flipInY" data-wow-duration="1s">
                <div class="pricing">
                    <div class="pricing-head">
                        <span class="price">
                            $<span class="price-amount">12</span> / month
                        </span>
                    </div>
                    <ul>
                        <li><strong>BASIC PLAN</strong></li>
                        <li><strong>1 GB </strong> Data</li>
                        <li>10 <strong>Emails</strong></li>
                        <li>Limit Of<strong>10</strong> Users</li>
                        <li><strong>24x7</strong> Support</li>
                        <li><strong>Online</strong> Access Available</li>
                        <li><strong>Online</strong> Management Tool</li>
                    </ul>
                    <a href="#" class="pricing-grab">GET IT NOW</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow flipInY" data-wow-duration="1s">
                <div class="pricing">
                    <div class="pricing-head">
                        <span class="price">
                            $<span class="price-amount">15</span> / month
                        </span>
                    </div>
                    <ul>
                        <li class="backcolor-li"><strong>MEDIUM PLAN</strong></li>
                        <li><strong>1 GB </strong> Data</li>
                        <li>10 <strong>Emails</strong></li>
                        <li>Limit Of<strong>10</strong> Users</li>
                        <li><strong>24x7</strong> Support</li>
                        <li><strong>Online</strong> Access Available</li>
                        <li><strong>Online</strong> Management Tool</li>
                    </ul>
                    <a href="#" class="pricing-grab">GET IT NOW</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 wow flipInY" data-wow-duration="1s">
                <div class="pricing">
                    <div class="pricing-head">
                        <span class="price">
                            $<span class="price-amount">18</span> / month
                        </span>
                    </div>
                    <ul>
                        <li><strong>ADVANCE PLAN</strong></li>
                        <li><strong>1 GB </strong> Data</li>
                        <li>10 <strong>Emails</strong></li>
                        <li>Limit Of<strong>10</strong> Users</li>
                        <li><strong>24x7</strong> Support</li>
                        <li><strong>Online</strong> Access Available</li>
                        <li><strong>Online</strong> Management Tool</li>
                    </ul>
                    <a href="#" class="pricing-grab">GET IT NOW</a>
                </div>
            </div>
        </div>
        <!-- ./ Row Content-->
    </div>
</div>
<!--END PRICE SECTION -->
<!--CONTACT SECTION -->
<div id="contact-section">
    <div class="container">
        <div class="row main-top-margin text-center">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1 class="wow bounceInDown">Contact Us</h1>
                <h4>
                    Occasional middletons everything so to.
                </h4>
            </div>
        </div>
        <!-- ./ Main Heading-->
        <div class="row">
            <div class="col-md-12  col-sm-12 ">
                <div class="col-md-6  col-sm-12 wow fadeInLeftBig">
                    <h3><i class="fa fa-leaf"></i> Reach Us Here</h3>
                    <hr/>
                    <p>
                        5099, Old Street,<br/>
                        Washington, USA.<br/>
                        Call: +12-00-00-007<br/>
                        Email: demo@example.com<br/>
                    </p>

                    <a href="#"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest-square fa-3x color-pinterest"></i></a>
                </div>
                <div class="col-md-6 col-sm-12 wow fadeInUpBig">
                    <h3>Any Queries? Ask Us. </h3>
                    <hr/>
                    <form>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required"
                                           placeholder="Email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control"
                                              rows="8" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit Request</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- ./ Row Content-->
    </div>
</div>
<!--END CONTACT SECTION -->
<!--FOOTER SECTION -->
<div class="navbar navbar-inverse header footer margin-top-20">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms and Condition</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Career</a></li>
      </ul>
    </div>
</div>
<!--END FOOTER SECTION -->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY LIBRARY -->
<script src="assets/js/jquery.js"></script>
<!-- CORE BOOTSTRAP LIBRARY -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- SCROLL REVEL LIBRARY FOR SCROLLING ANIMATIONS-->
<script src="assets/js/scrollReveal.js"></script>
<!-- CUSTOM SCRIPT-->
<script src="assets/js/custom.js"></script>

<script src="assets/js/wow.min.js"></script>

<script src="assets/js/jquery.fancybox.js"></script>

<script>
 new WOW().init();
</script>
</body>
</html>
