<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' name='viewport'>
<title>吉兒怪獸 @ 2015 Taipei Data Hackathon</title>

<script src='javascripts/d3.js' type='text/javascript'></script>
<script src='javascripts/crossfilter.js' type='text/javascript'></script>
<script src='javascripts/dc.js' type='text/javascript'></script>
<script src='javascripts/jquery-1.9.1.min.js' type='text/javascript'></script>
<script src='javascripts/bootstrap.min.js' type='text/javascript'></script>


<link href='stylesheets/bootstrap.min.css' rel='stylesheet' type='text/css'>
<link href='stylesheets/dc.css' rel='stylesheet' type='text/css'>
<style type="text/css">
body {
    padding-top: 40px;
}
.span2, .span4, .span6, .span8, .span12, .container {
	border:1px solid #dddddd;
}
.span4{
	margin-left:-20px;
}
</style>
<script src='simple_vis.js' type='text/javascript'></script>
</head>

<body>
	<div class='navbar navbar-fixed-top'>
		<div class='navbar-inner'>
			<div class='container'>
				<a class="brand" href="http://junipertcy.info/data_taipei/index.html">三隻吉兒怪獸製作</a>
			</div>
		</div>
	</div>

	<div class='container' id='main-container'>
		<div class='content'>
			<div class='container' style='font: 10px sans-serif;'>
				<h3><a href="http://data.taipei/opendata/datalist/datasetMeta?oid=4d29818c-a3ee-425d-b88a-22ac0c24c712">台北市每日施工資訊</a>（103年 6月 23日至 104年 5月 18日）的資料交互視覺化</h3>
				<h4>累積近一年的資料經過視覺化之後，我們進行了 k-means 地理分群與線性預測分析（未完成）。目標是挖掘施工需求的地理相關性，並預測各里未來的施工需求數量：<a href="http://junipertcy.info/data_taipei/data/GeoMonster.pdf">投影片</a><br><br>
				我們也將專案放至 <a href="https://github.com/junipertcy/dssg/tree/master/taipei">GitHub</a> 上，歡迎大家 fork 或 send pull request！</h4>
				<div class='row-fluid'>
					<div class='remaining-graphs span8'>
						<div class='row-fluid'>
							<div class='bubble-graph span12' id='dc-bubble-graph'>
								<h4>以各里為中心的施工工程資料揀選平台：施工歷時（橫軸），總需求數（縱軸）</h4>
							</div>
						</div>
						<div class='row-fluid'>
							<div class='pie-graph span4' id='dc-pie-graph'>
								<h4>施工歷時五分位數（數字愈大：該類型施工歷時長）</h4>
							</div>
							<div class='pie-graph span4' id='dc-volume-chart'>
								<h4>施工歷時五分位數 - 各里累積工程數</h4>
							</div>
							<div class='pie-graph span4' id='dc-line-chart'>
								<h4>每個月的施工需求數變化</h4>
							</div>
						</div>
						<div class='row-fluid'>
							<div class='span12 table-graph'>
								<h4>以各里為單元，被選取的原始資料</h4>
								<table class='table table-hover dc-data-table' id='dc-table-graph'>
									<thead>
										<tr class='header'>
											<th>里名</th>
											<th>施工類型</th>
											<th>施工歷時五分位數</th>
											<th>總施工次數</th>
											<th>施工位置</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
					<div class='remaining-graphs span4'>
						<div class='row-fluid'>
							<div class='row-graph span12' id='dc-row-graph' style='color:black;'>
								<h4>施工原因累積總數</h4>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div id='footer'>
		<div class='container'><footer class='text-center'></footer>
		</div>
	</div>
</body>
</html>
